body{
  width: 1294px;
}
  
.game {
  background: url(../img/background1.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.submit {
  width: 90px;
  height: 35px;
  border-radius: 20%;
  background-color: #022a39;
  font-size: 17px;
  font-weight: bold;
  color: white;
}

#initials{
  display: inline-block;
  border-radius: 20%; 
  height: 40px;  
  background-color: #022a39;
  color: white;
  font-size: 15px;
  font-weight: bold; 
}
.score {
  font-size: 500px;
  z-index: 20;
  font-family: arial;
  color: #ff100257;
  user-select: none;
  width: 100%;
  text-align: center;
}
.scoreBoard{
  margin-top: -16px;
  margin-bottom: 16px;
}
#scoreBoard{
  font-size: 16px;
  color: white;
  background-color: #022a39;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.box {
  width: 100px;
  height: 70px;
  position: absolute;
  top: -150px;
  transition: transform 1.5s linear;
  cursor: pointer;
  z-index: 100;
}
.move {
  transform: translateY(120vh);
}
.counter {
  border: 3px solid red;
  border-radius: 20%;
  background-color: #ff6969ba;
  width: 8%;
  margin-left: 325px;
  text-align: center;
  font-family: arial;
  color: #0f0205;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  z-index: 1;
}
